<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="GrApiKey" value="Your API Key"/>
    <!-- GetResponse 360 users change this value for use with your specific install. -->
    <add key="GrApiUrl" value="http://api2.getresponse.com"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="xUnit" />
  </specFlow>
</configuration>